body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.pages {
  min-height: calc(
    100vh - 100px
  ); /* Adjust height according to your header and footer heights */
}

header,
footer {
  width: 100%;
  margin: 0;
  padding: 0;
}
